<footer>
    <div class="row">
        <div class="col-1">
            <img src="http://resmed.unc.edu.pe/resmed/images/ESCUDO%20UNC%202.png" alt="img">
        </div>
        <div class="col-9">
            <ul>
                <a>&copy; Universidad Nacional de Cajamarca</a><br>
                <a>Facultad de Ingeniería</a><br>
                <a>Escuela de Ingenieria de Sistemas</a>
            </ul>
        </div>
        <div class="autor">
            <a class="text-right">Autores: &copy; EGJ </a><br>
            <a>Ultima actualizacion: 17/07/19.</a><br>
            <a class="text-right">Derechos Reservados</a>
        </div>
    </div>
</footer>