<div *ngIf="estadoInicio" class="container inicio">
    <div>
        <img class="rest" src="../assets/img/2.JPG" alt="img">
        <div class="texto">
            <br>
            <h3 class="text-center">TRABAJO GRUPAL</h3>
            <h5>Construcción de un CRUD para consumir el servicio REST de las tablas: Clientes, Ventas, Productos y Detalles de Ventas.</h5>
            <br>
            <h3>CURSO: </h3>
            <ol>
                <li><strong> -> Ingeniería Web.</strong></li>
            </ol>
            <h3>PROFESOR: </h3>
            <ol>
                <li><strong> -> Ing. Edwin Valencia Castillo.</strong></li>
            </ol>
            <h3>INTEGRANTES:</h3>
            <ol>
                <li><strong> -> Ayala Quiliche, Edivan</strong></li>
                <li><strong> -> Chávez Lobato, Gianmarco</strong></li>
                <li><strong> -> Valdez Ayay, Juan</strong></li>
            </ol>
        </div>
    </div>
</div>